{%extends 'index.html'%}

{%block title%}
アクセ期待値計算機v2
{%endblock%}

{%block contents%}
<main>
    <h1>アクセ期待値計算機v2</h1>
    <h3>選択した強化段階を叩く場合の損益を計算します。<br>
        利益を得るために、次の強化段階へ進むべきかを調べます。<br>
        <span style="color:rgb(0, 189, 0);">現在 <span style="font-weight: bold; font-size: 20px;">v2のみ</span> でマノスアクセの計算ができます。</span>
    </h3>
        <div class="container">
            <div class="form-container">
                <form method="POST">
                    <label for="item">アクセ:</label>
                    <select name="item" id="item" class="select2">
                    {% for option in [
                    ('crescent', '三日月守護者のリング', 'crescent.webp'),
                    ('ruin_ring', '廃墟の瞳リング', 'ruin_ring.webp'), 
                    ('tun_ring', 'ツングラドのリング', 'tun_ring.webp'),
                    ('ominous_ring', '不気味な背後のリング', 'ominous_ring.webp'),
                    ('cadry', 'カドリー守護者のリング', 'cadry.webp'),
                    ('ogre_ring', 'オーガのリング', 'ogre_ring.webp'),
                    ('laytenn', 'ライテンの動力石', 'laytenn.webp'),
                    ('tun_neck', 'ツングラドのネックレス', 'tun_neck.webp'),
                    ('lunar', '目覚めた月のネックレス', 'lunar.webp'),
                    ('river', '目覚めた川のネックレス', 'river.webp'),
                    ('sicil', 'シチルのネックレス', 'sicil.webp'),
                    ('basi_belt', 'バジリスクのベルト', 'basi_belt.webp'),
                    ('valt_belt', 'バルタラの隠れた光ベルト', 'valt_belt.webp'),
                    ('tun_belt', 'ツングラドのベルト', 'tun_belt.webp'),
                    ('centa_belt', 'ケンタウロスのベルト', 'centa_belt.webp'),
                    ('orkin_belt', 'オルキンラドのベルト', 'orkin_belt.webp'),
                    ('turo_belt', 'トゥーロのベルト', 'turo_belt.webp'),
                    ('disto', '黒い侵食のイヤリング', 'disto.webp'),
                    ('vaha', 'バアの暁', 'vaha.webp'),
                    ('narc', 'ナクの耳飾り', 'narc.webp'), 
                    ('tun_ear', 'ツングラドのイヤリング', 'tun_ear.webp'),
                    ('dawn', '黎明のイヤリング', 'dawn.webp'),
                    ('ethereal', '夢幻のイヤリング', 'ethereal.webp'),
                    ('manos_ring', 'マノスリング', 'manos_ring.webp'),
                    ('manos_earring', 'マノスイヤリング', 'manos_earring.webp'),
                    ('manos_necklace', 'マノスネックレス', 'manos_necklace.webp'),
                    ('manos_belt', 'マノスベルト', 'manos_belt.webp')
                    ] %}
                        <option value="{{ option[0] }}" data-image="{{ url_for('static', filename=option[2]) }}"
                        {% if selected_item == option[0] %}selected{% endif %}>{{ option[1] }}</option>
                    {% endfor %}
                    </select>
                    
                    <label for="level">強化段階:</label>
                    <select name="level" id="level">
                    {% for option in [('pri', '真1'), ('duo', '真2'), ('tri', '真3'), ('tet', '真4'), ('pen', '真5')] %}
                        <option value="{{ option[0] }}"
                        {% if selected_level == option[0] %}selected{% endif %}>{{ option[1] }}</option>
                    {% endfor %}
                    </select>

                    <label for="family-fame">家門名声:</label>
                    <input type="checkbox" id="family_fame" name="family_fame" value="on" {% if family_fame %} checked{% endif %}>
                    <label class="checkbox-label" for="family_fame">7000以上</label>

                    <label for="pp">プレパケ:</label>
                    <input type="checkbox" id="pp" name="pp" value="on" {% if pp %} checked{% endif %}>
                    <label class="checkbox-label" for="pp"></label>

                    <label for="marchant_ring">巨匠のリング:</label>
                    <input type="checkbox" id="marchant_ring" name="marchant_ring" value="on" {% if marchant_ring %} checked{% endif %}>
                    <label class="checkbox-label" for="marchant_ring"></label>

                    <br>
                    <br>
                    <input type="submit" value="表示">
                </form>
            </div>
            <div class="results-container">
            {% if str_profit is not none %}
                {% if int_profit < 0 %}
                    <p>{{ name }}{{ level }}の強化期待値(損益)は <span style="color: rgb(255, 0, 0);">{{ str_profit }}</span> シルバーです。</p>
                {% elif int_profit > 0 %}
                    <p>{{ name }}{{ level }}の強化期待値(損益)は <span style="color: rgb(0, 189, 0);">{{ str_profit }}</span> シルバーです。</p>
                {% else %}
                    <p>{{ name }}{{ level }}の強化期待値(損益)は{{ str_profit }}シルバーです。</p>
                {% endif %}
            {% endif %}
            </div>            
        </div>
    </main>
{%endblock%}