{%extends 'index.html'%}

{%block title%}
アクセ期待値計算機v2
{%endblock%}

{%block contents%}
<main>
    <h1>アクセ期待値計算機v2<span class="Beta-icon">Beta</span></h1>
    <h3>選択した強化段階を叩く場合の損益を計算します。<br>
        利益を得るために、次の強化段階へ進むべきかを調べます。<br>
        <span style="color:rgb(0, 189, 0);">現在 <span style="font-weight: bold; font-size: 20px;">v2のみ</span> でマノスアクセ・アクセ錬金（金策）の計算ができます。</span>
    </h3>
        <div class="container">
            <div class="form-container">
                <form id="form" method="POST">
                    <label for="item">アクセ:</label>
                    <select name="item" id="item" class="select2">
                    {% for option in [
                    ('crescent', '三日月守護者のリング', 'images/crescent.webp'),
                    ('ruin_ring', '廃墟の瞳リング', 'images/ruin_ring.webp'), 
                    ('tun_ring', 'ツングラドのリング', 'images/tun_ring.webp'),
                    ('ominous_ring', '不気味な背後のリング', 'images/ominous_ring.webp'),
                    ('cadry', 'カドリー守護者のリング', 'images/cadry.webp'),
                    ('ogre_ring', 'オーガのリング', 'images/ogre_ring.webp'),
                    ('laytenn', 'ライテンの動力石', 'images/laytenn.webp'),
                    ('tun_neck', 'ツングラドのネックレス', 'images/tun_neck.webp'),
                    ('lunar', '目覚めた月のネックレス', 'images/lunar.webp'),
                    ('river', '目覚めた川のネックレス', 'images/river.webp'),
                    ('sicil', 'シチルのネックレス', 'images/sicil.webp'),
                    ('basi_belt', 'バジリスクのベルト', 'images/basi_belt.webp'),
                    ('valt_belt', 'バルタラの隠れた光ベルト', 'images/valt_belt.webp'),
                    ('tun_belt', 'ツングラドのベルト', 'images/tun_belt.webp'),
                    ('centa_belt', 'ケンタウロスのベルト', 'images/centa_belt.webp'),
                    ('orkin_belt', 'オルキンラドのベルト', 'images/orkin_belt.webp'),
                    ('turo_belt', 'トゥーロのベルト', 'images/turo_belt.webp'),
                    ('disto', '黒い侵食のイヤリング', 'images/disto.webp'),
                    ('vaha', 'バアの暁', 'images/vaha.webp'),
                    ('narc', 'ナクの耳飾り', 'images/narc.webp'), 
                    ('tun_ear', 'ツングラドのイヤリング', 'images/tun_ear.webp'),
                    ('dawn', '黎明のイヤリング', 'images/dawn.webp'),
                    ('ethereal', '夢幻のイヤリング', 'images/ethereal.webp'),
                    ('manos_ring', 'マノスリング', 'images/manos_ring.webp'),
                    ('manos_earring', 'マノスイヤリング', 'images/manos_earring.webp'),
                    ('manos_necklace', 'マノスネックレス', 'images/manos_necklace.webp'),
                    ('manos_belt', 'マノスベルト', 'images/manos_belt.webp')
                    ] %}
                        <option value="{{ option[0] }}" data-image="{{ url_for('static', filename=option[2]) }}"
                        {% if selected_item == option[0] %}selected{% endif %}>{{ option[1] }}</option>
                    {% endfor %}
                    </select>
                    
                    <label for="level">強化段階:</label>
                    <select name="level" id="level">
                    {% for option in [('pri', '真1'), ('duo', '真2'), ('tri', '真3'), ('tet', '真4'), ('pen', '真5')] %}
                        <option value="{{ option[0] }}"
                        {% if selected_level == option[0] %}selected{% endif %}>{{ option[1] }}</option>
                    {% endfor %}
                    </select>

                    <label for="pp" class="cb-container">
                        <img src="{{ url_for('static', filename='images/pp.webp') }}" alt="プレパケ" width="20" height="20">
                        プレパケ
                        <input type="checkbox" id="pp" name="pp" value="on" checked="checked" {% if pp %} checked{% endif %}>
                        <span class="checkmark"></span>
                    </label>
    
                    <label for="family_fame" class="cb-container">家門名声7000以上
                        <input type="checkbox" id="family_fame" name="family_fame" value="on" {% if family_fame %} checked{% endif %}>
                        <span class="checkmark"></span>
                    </label>
    
                    <label for="marchant_ring" class="cb-container">
                        <img src="{{ url_for('static', filename='images/marchant_ring.webp') }}" alt="巨匠のリング" width="20" height="20">  
                        巨匠のリング
                        <input type="checkbox" id="marchant_ring" name="marchant_ring" value="on" {% if marchant_ring %} checked{% endif %}>
                        <span class="checkmark"></span>
                    </label>

                    <label for="acc_alc" class="cb-container">アクセ錬金  <span class="warn">(叩くアクセを取引所で購入する場合にチェック)</span>
                    <input type="checkbox" id="acc_alc" name="acc_alc" value="on" {% if acc_alc %} checked{% endif %}>
                    <span class="checkmark"></span>
                    </label>
                    <br>
    
                    <br>
                    <input type="submit" value="計算">
                </form>
            </div>
            <div class="results-container" id="results-container"></div>            
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
         $(document).ready(function() {
            $('#form').on("submit", function(e) {
                e.preventDefault();
                const item = $('#item').val();
                const level = $('#level').val();
                const family_fame = $('#family_fame').prop("checked");
                const pp = $('#pp').prop("checked");
                const marchant_ring = $('#marchant_ring').prop("checked");
                const acc_alc = $('#acc_alc').prop("checked");
                $.ajax({
                    method: "POST",
                    url: "/acc-enhancing-v2-ajax",
                    contentType: 'application/json',
                    data: JSON.stringify({
                        item: item,
                        level: level,
                        family_fame: family_fame,
                        pp: pp,
                        marchant_ring: marchant_ring,
                        acc_alc: acc_alc
                    }),
                    success: function(response) {
                        const result = response.result;
                        let profitColor = '';
                        if (result.int_profit < 0) {
                            profitColor = 'rgb(255, 0, 0)';
                        } else if (result.int_profit > 0) {
                            profitColor = 'rgb(0, 189, 0)';
                        } else {
                            profitColor = 'inherit';
                        }
                        const resultHtml = `<p>${result.name}${result.level}の強化期待値(損益)は <span style="color: ${profitColor};">${result.str_profit}</span> シルバーです。</p>`;
                        $('#results-container').html(resultHtml);
                    },
                    error: function(){
                        alert("エラーが発生しました。");
                    }
                });
            });
        });
    </script>
    </main>
{%endblock%}