{%extends 'index.html'%}

{%block title%}
ポータル | 黒い砂漠 便利アプリ
{%endblock%}

{%block contents%}
<h1>アプリケーション ポータル</h1>
<section class="portal">
<a href="{{ url_for('acc_enhancing_v1')}}"><h2>アクセ期待値計算機v1</h2></a>
<span>未強化アクセを叩くか売るか、どっちが利益でるの？<br>そんな疑問を解決してくれます。</span>
<a href="{{ url_for('acc_calc_v2')}}"><h2>アクセ期待値計算機v2</h2></a>
<span>どの強化段階まで叩けば一番利益がでるのかな？<br>そんなお悩みを解決してくれます。</span><br><br>
<span style="color: red;">現在、 <span style="font-size:20px; font-weight: bold;">v2のみ</span> でマノスアクセ計算・アクセ錬金計算（取引所でアクセを買って叩くこと）が利用可能です。</span>
</section>
{%endblock%}