{%extends 'index.html'%}

{%block title%}
計算方法
{%endblock%}

{%block contents%}
<section class="calculation-method">
    <h3>計算方法</h3>
    <ul>
      <li>v1</li>
         <ul>
            <li><a href="https://developers.veliainn.com/">アクセ&黒石の価格は取引所apiから取得</a></li>
            <li>選択した強化段階に到達するための個数を所持しているとし、その時点での期待値を最大化するために余ったアクセは売ると仮定しています</li>
            <li>スタック費用は防具ブラックストーンで計算</br>
            真1: 31個 (fs: 18), 真2: 150個 (fs: 40), 真3: 200個 (fs: 45), 真4: 2000個 (fs: 110), 真5: 20000個 (fs: 220?)</li>
            <li>例えば下の計算で真2の期待値を計算しています</li>
         </ul>
      <li>v2</li>
         <ul>
            <li>強化確率やスタックなどの設定はv1と同じです</li>
            <li>v1では未強化アクセに注目しているのに対し、v2では選択した強化段階を叩くべきかに焦点を当てています</li>
         </ul>
    </ul>
    <div class="gist">
       <script src="https://gist.github.com/Lejenay/181beb6c19fb51051102dc2637f7e860.js"></script>
    </div>
 </section>
 {%endblock%}