<!doctype html>
<html>

   <head>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-48245QC43P"></script>
      <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-48245QC43P');
      </script>

      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width">
      <meta name="description" content="MMOPRG,黒い砂漠のアクセサリー強化において、強化したほうが儲けが出るのか、そのまま売ったほうが良いのかを考察できる計算機です。絶賛開発中。" />
      <link rel="apple-touch-icon" type="image/png" href="{{ url_for('static', filename='images/apple-touch-icon-180x180.png') }}">
      <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon-192x192.png') }}">
      <title>{% block title %}アクセ期待値計算機{% endblock %}</title>
      
      <!-- Select2 CSS -->
      <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">
      <!-- jQuery -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <!-- Select2 JavaScript -->
      <script src="https://cdn.jsdelivr.net/npm/select2@4.3.0-rc.1/dist/js/select2.min.js"></script>
      
      <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">

      <!-- Google Fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;500;700&display=swap" rel="stylesheet">
      
      <!-- Google Adsense -->
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5924579731375363"
      crossorigin="anonymous"></script>

      </script>
   </head>

   <body>
      <div class="content">
         <header>
            <a href="{{ url_for('index_root')}}" class="title"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="黒い砂漠 便利アプリ"></a>
            <a href="https://twitter.com/Lejenay" target="_blank" style="display: flex; align-items: center;">
               <img src="{{ url_for('static', filename='images/icon.png') }}" alt="アイコン">
               <span class="name" id="header-name">Powerd by れじぇない</span>
            </a>
         </header>
         <nav>
            <ul>
               <li><a href="{{ url_for('index_root')}}">ポータル</a></li>
               <li><a href="{{ url_for('acc_enhancing_v1')}}">アクセ期待値計算機v1</a></li>
               <li><a href="{{ url_for('acc_calc_v2')}}">アクセ期待値計算機v2</a></li>
            </ul>
         </nav>

         {% block contents%}

         <main>
            <h1>アクセ期待値計算機v1</h1>
            <h3>未強化のアクセを選択した強化段階まで叩く場合と、未強化アクセを全て売却する場合の損益を各々計算します。<br>
            <span style="color:rgb(235, 0, 0);">現在 <span style="font-weight: bold; font-size: 20px;">v2のみ</span> でマノスアクセ・アクセ錬金（金策）の計算ができます。</span>
            </h3>
            <div class="container">
               <div class="form-container">
                  <form method="POST" id="v1-form">
                     <label for="item">アクセ:</label>
                     <select name="item" id="item" class="select2">
                        {% for option in [
                        ('crescent', '三日月守護者のリング', 'images/crescent.webp'),
                        ('ruin_ring', '廃墟の瞳リング', 'images/ruin_ring.webp'), 
                        ('tun_ring', 'ツングラドのリング', 'images/tun_ring.webp'),
                        ('ominous_ring', '不気味な背後のリング', 'images/ominous_ring.webp'),
                        ('cadry', 'カドリー守護者のリング', 'images/cadry.webp'),
                        ('ogre_ring', 'オーガのリング', 'images/ogre_ring.webp'),
                        ('laytenn', 'ライテンの動力石', 'images/laytenn.webp'),
                        ('tun_neck', 'ツングラドのネックレス', 'images/tun_neck.webp'),
                        ('lunar', '目覚めた月のネックレス', 'images/lunar.webp'),
                        ('river', '目覚めた川のネックレス', 'images/river.webp'),
                        ('sicil', 'シチルのネックレス', 'images/sicil.webp'),
                        ('basi_belt', 'バジリスクのベルト', 'images/basi_belt.webp'),
                        ('valt_belt', 'バルタラの隠れた光ベルト', 'images/valt_belt.webp'),
                        ('tun_belt', 'ツングラドのベルト', 'images/tun_belt.webp'),
                        ('centa_belt', 'ケンタウロスのベルト', 'images/centa_belt.webp'),
                        ('orkin_belt', 'オルキンラドのベルト', 'images/orkin_belt.webp'),
                        ('turo_belt', 'トゥーロのベルト', 'images/turo_belt.webp'),
                        ('disto', '黒い侵食のイヤリング', 'images/disto.webp'),
                        ('vaha', 'バアの暁', 'images/vaha.webp'),
                        ('narc', 'ナクの耳飾り', 'images/narc.webp'), 
                        ('tun_ear', 'ツングラドのイヤリング', 'images/tun_ear.webp'),
                        ('dawn', '黎明のイヤリング', 'images/dawn.webp'),
                        ('ethereal', '夢幻のイヤリング', 'images/ethereal.webp')
                        ] %}
                        <option value="{{ option[0] }}" data-image="{{ url_for('static', filename=option[2]) }}"
                        {% if selected_item == option[0] %}selected{% endif %}>{{ option[1] }}</option>
                        {% endfor %}
                     </select>
                     
                     <label for="level">強化段階:</label>
                     <select name="level" id="level">
                        {% for option in [('pri', '真1'), ('duo', '真2'), ('tri', '真3'), ('tet', '真4'), ('pen', '真5')] %}
                        <option value="{{ option[0] }}"
                        {% if selected_level == option[0] %}selected{% endif %}>{{ option[1] }}</option>
                        {% endfor %}
                     </select>

                     <label for="pp" class="cb-container">
                        <img src="{{ url_for('static', filename='images/pp.webp') }}" alt="プレパケ" width="20" height="20">
                        プレパケ
                        <input type="checkbox" id="pp" name="pp" value="on" checked="checked" {% if pp %} checked{% endif %}>
                        <span class="checkmark"></span>
                     </label>
    
                     <label for="family_fame" class="cb-container">家門名声7000以上
                        <input type="checkbox" id="family_fame" name="family_fame" value="on" {% if family_fame %} checked{% endif %}>
                        <span class="checkmark"></span>
                     </label>
    
                     <label for="marchant_ring" class="cb-container">
                        <img src="{{ url_for('static', filename='images/marchant_ring.webp') }}" alt="巨匠のリング" width="20" height="20">  
                        巨匠のリング
                        <input type="checkbox" id="marchant_ring" name="marchant_ring" value="on" {% if marchant_ring %} checked{% endif %}>
                        <span class="checkmark"></span>
                     </label>
                     <br>
        
                     <br>
                     <input type="submit" value="計算">
                  </form>
               </div>
               <div class="results-container" id="results-container"></div>
            </div>
            <script>
            $(document).ready(function() {
               $('#v1-form').on("submit", function(e) {
                  e.preventDefault();
                  const item = $('#item').val();
                  const level = $('#level').val();
                  const family_fame = $('#family_fame').prop("checked");
                  const pp = $('#pp').prop("checked");
                  const marchant_ring = $('#marchant_ring').prop("checked");
                  $.ajax({
                     method: "POST",
                     url: "/acc-enhancing-v1-ajax",
                     contentType: 'application/json',
                     data: JSON.stringify({
                        item: item,
                        level: level,
                        family_fame: family_fame,
                        pp: pp,
                        marchant_ring: marchant_ring,
                     }),
                     success: function(response) {
                        const result = response.result;
                        let tap_col = '';
                        let sell_col = '';

                        if (result.tap > result.sell) {
                              tap_col = 'rgb(255, 0, 0)';
                              sell_col = 'rgb(0, 189, 0)';
                        } else if (result.tap < result.sell) {
                              tap_col = 'rgb(0, 189, 0)';
                              sell_col = 'rgb(255, 0, 0)';
                        } else {
                              tap_col = 'inherit';
                              sell_col = 'inherit';
                        }
                        const resultHtml = `<p>${result.name}${result.level}の強化期待値は <span style="color: ${tap_col};">${result.str_tap}</span> シルバーです。</p>
                                             <p>${result.name}をそのまま売ると、売り上げは <span style="color: ${sell_col};">${result.str_sell}</span> シルバーです。</p>`;
                        $('#results-container').html(resultHtml);
                     },
                     error: function(){
                        alert("ひえ～! エラーが発生したよ");
                     }
                  });
               });
            });
            </script>
         </main>

         {% endblock %}

      </div>

      <footer>
         <div class="footer-container">
            <div class="footer-links">
               <a href="{{ url_for('how_to_calc')}}" class="footer-link">計算方法</a>
               <a href="{{ url_for('updates')}}" class="footer-link">アップデート情報</a>
               <a href="{{ url_for('privacy')}}" class="footer-link">プライバシー</a>
            </div>
            <p class="footer-text">© 2023 れじぇない. All rights reserved.</p>
            <a href="https://github.com/Lejenay/bdo_app" target="_blank">
               <img src="{{ url_for('static', filename='images/github-mark-white.png') }}" alt="GitHub" class="github-icon">
            </a>
            <a href="https://twitter.com/Lejenay" target="_blank">   
               <img src="{{ url_for('static', filename='images/Twitter.png') }}" alt="Twitter" class="twitter-icon">
            </a>
            <a href="https://lejenay.github.io/Leje-space/" target="_blank">
               <img src="{{ url_for('static', filename='images/LS-icon.png') }}" alt="LejeSpace" class="LS-icon">
            </a>
         </div>
      </footer>

      <!-- jQuery and Select2 JavaScript -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
      <script>
         $(document).ready(function() {
            function formatOption (option) {
               if (!option.id) {
                  return option.text;
               }
               var imgSrc = $(option.element).data('image');
               var optionText = option.text;
               var $option = $(
                  '<span><img src="' + imgSrc + '" class="option-image" /> ' + optionText + '</span>'
               );
               return $option;
            };

            $('.select2').select2({
               templateResult: formatOption,
               templateSelection: formatOption,
               escapeMarkup: function(m) { return m; }
            });
         });

         $(document).ready(function() {
            function formatOption(option) {
            if (!option.id) {
               return option.text;
            }
            const isManos = option.text.includes("マノス");
            const optionElement = $('<span>', {
               class: isManos ? 'red-text' : 'yellow-text',
               text: option.text
            });

            // 画像要素の追加
            const imgSrc = $(option.element).data('image');
            const imgElement = $('<img>', {
               src: imgSrc,
               class: 'select2-img',
               style: 'margin-right: 5px;'
            });

            const container = $('<span>');
            container.append(imgElement);
            container.append(optionElement);
            return container;
            }

            $('#item').select2({
               templateResult: formatOption,
               templateSelection: formatOption
            });
         });
      </script>

   </body>
</html>